.main-content {
  display: flex;
  justify-content: center;
}

.main-content p {
  font-style: normal;
  font-weight: bold;
}

.main-content i {
  font-size: 30px;
  margin-right: 10px;
}

.left-content {
  display: inline-block;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}

.right-content {
  display: inline-block;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: auto;
}

@media only screen and (max-width: 1500px) {
  .right-content,
  .left-content {
    visibility: hidden;
  }
}
